.projectsBlock {
    min-height: 100vh;
    background-color: #efd553;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: #da8def;
}
.projects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.see {
    background-color: #a4adb0;
}


